XSERVER_HOST=svxxxx.xserver.jp
XSERVER_USER=xxxxx
XSERVER_PORT=10022
SSH_KEY_PATH=~/.ssh/id_rsa

LOCAL_BUILD_DIR=public
REMOTE_TEST_PATH=/home/xxxxx/example.com/public_html/project-name
TEST_URL=https://example.com/project-name/
