@use "../global" as *;

.p-footer {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  min-height: rem(100);
  background: #b18c4e;
  overflow-x: clip;
}

.p-footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
.p-footer__wave {
  position: absolute;
  top: rem(-180);
  right: rem(0);
  width: rem(302);
  height: auto;
  z-index: 1;
}

.p-footer__circle {
  position: absolute;
  top: rem(-150);
  right: 0;
  width: rem(85);
  z-index: 2;
}
.p-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: rem(160);

  @include mq(md){
    width: rem(240);
  }
}

.p-footer__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__top {
  position: fixed;
  bottom: rem(20);
  right: rem(20);
  z-index: 999;

  @include mq(md) {
    bottom: rem(32);
    right: rem(32);

  }
}

.p-footer__top-btn {
  display: inline-block;
  width: rem(40);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, visibility 0.25s ease;

  @include mq(md) {
    width: rem(60);

  }
}

.p-footer__top-btn.is-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.p-footer__top-btn img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}