@use "../global" as *;

.p-feel {
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(40);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.p-feel svg {
  position: absolute;
  z-index: 2;
  top: rem(148);
  left: rem(-25);
  width: rem(225);
  height: auto;
  aspect-ratio: 225 / 1196;
  object-fit: cover;
  object-fit: cover;
  object-position: center;
}


.p-feel__content {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 4;
}

.p-feel__img {
  overflow: hidden;

  @include mq(md) {
    position: absolute;
    z-index: 5;
  }
}

.p-feel__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-feel__img--topLeft {
  width: rem(200);
  margin-left: rem(-20);
  aspect-ratio: 275 / 170;

  @include mq(md) {
    top: rem(200);
    width: rem(275);
  }
}

.p-feel__img--topRight {
  width: rem(220);
  margin-top: rem(24);
  margin-left: auto;
  margin-right: rem(-20);
  aspect-ratio: 364 / 204;

  @include mq(md) {
    top: rem(60);
    right: rem(-72);
    width: rem(364);
    margin-top: 0;
    margin-right: 0;
  }
}

.p-feel__img--bottomRight {
  width: rem(200);
  margin-top: rem(24);
  margin-right: rem(-20);
  aspect-ratio: 215 / 145;
  
  @include mq(md) {
    margin-left: auto;
    top: rem(550);
    right: rem(80);
    width: rem(215);
    margin-right: rem(24);
  }
}

.p-feel__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(40);
  color: #1f3f58;
  font-family: $base-font-family;
  font-weight: 600;
  letter-spacing: 0.06em;

  @include mq(md) {
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: rem(60);
  }
}

.p-feel__title-row {
  display: block;
  font-size: rem(22);
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.06em;
  text-align: center;

  @include mq(md) {
    writing-mode: vertical-rl;
    font-feature-settings: "vpal";
    line-height: 1.25;
    letter-spacing: 0.3em;
  }
}

.p-feel__title-row--color {
  color: #b18c4e !important;
}

.p-feel__title-row+.p-feel__title-row {
  margin-top: rem(4);

  @include mq(md) {
    margin-top: 0;
    margin-right: rem(18);
  }
}

@include mq(md) {
  .p-feel__title-row {
    font-size: rem(30);
  }
}

.p-feel__text {
  margin-top: rem(40);
  color: #1f3f58;
  font-family: $base-font-family;
  font-size: rem(15);
  font-weight: 400;
  line-height: 2.2;
  letter-spacing: 0.08em;
  text-align: center;

  @include mq(md) {
    margin-top: rem(60);
    font-size: rem(18);
    line-height: 2.4;
  }
}
