@use "../global" as *;

.p-header {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(100);
  z-index: 100;
  right: 0;
  transition: 0.3s ease;
}
.p-header.js-header-scroll {
  background: #fff;
}
.p-header .l-inner {
  height: inherit;
}

.p-header__content {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(16);
}

.p-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(112);
  @include mq(md){
    width: rem(157);
    
  }
}

.p-header__logo img {
  width: 100%;
  height: auto;
  display: block;
}

.p-header__btn {
  display: none;
  @include mq(md){
    width: rem(300);
    height: rem(66);
    background-color: #f6ab00;
    border-radius: rem(4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(12);
    color: $white;
    font-weight: 800;
    position: relative;
    
  }
}

.p-header__btn-text {
  font-size: rem(18);
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(20);
  }
}

.p-header__btn-icon {
  width: rem(27);
  height: rem(27);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: rem(20);
  transform: translateY(-50%);
}

.p-header__btn-icon img {
  width: 100%;
  height: 100%;
  display: block;
}
